@model IEnumerable<ITIProject.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Student List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New Student</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Dept Name</th>
            <th>Course Name</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <th>@item.Course.CourseName</th>
                <td>@item.Department.DeptName</td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm mx-1">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm mx-1">Edit</a>
                    <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
