@model DetailsVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Department Details</title>
</head>
<body>
    <h2>@Model.Department.DeptName</h2>

    <p>@Model.Department.Capacity</p>

    <h3>Students</h3>

    @if ( Model.Students!=null)
    {
        <ul>
            <li>Name -Age-Department</li>
            @foreach (var student in Model.Students)



            {
                
                <li>@student.Name - @student.Age - @student.DeptId</li>
            }
        </ul>
    }
    else
    {
        <p>No students are enrolled in this department.</p>
    }

</body>
</html>
