@model IEnumerable<ITIProject.Models.Department>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mb-4">Department List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Create New Department</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Dept Name</th>
            <th>Dept Capacity</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DeptId</td>
                <td>@item.DeptName</td>
                <td>@item.Capacity</td>
                <td class="text-center">
                    <a asp-action="Details" asp-route-id="@item.DeptId" class="btn btn-info btn-sm mx-1">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.DeptId" class="btn btn-warning btn-sm mx-1">Edit</a>
                    <a asp-action="Remove" asp-route-id="@item.DeptId" class="btn btn-danger btn-sm mx-1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
